extends layout.pug
block main
    div.notfound
        img(src="/error404.png" width=550 height=350)
       
        button(button type="button" class="btn btn-dark" onclick="window.location.href='/';" style="margin-top: 50px;font-size: 30px") Back to Homepage